body {
    position: relative;
    height: 1975px;
    box-sizing: border-box;
    font-family: "Itim";
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
input,
button,
ul {
    border: 0;
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
}
header {
    padding: 18px;
}
.header-container {
    max-width: 1404px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
    margin-right: 64px;
}
.header__logo-text {
    font-size: 96px;
    line-height: 1;
    color: #887863;
}
.header__search {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.header__search-input {
    box-sizing: border-box;
    padding-left: 40px;
    width: 610px;
    height: 40px;
    font-size: 20px;

    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
}
.header__search::before {
    position: absolute;
    content: url(../img/svg/search.svg#search);
    width: 32px;
    height: 32px;
}
.header__search-btn {
    width: 99px;
    height: 38px;
    color: #ffffff;
    background: #9f9f9f;
    border-radius: 10px;
}
.account {
    display: flex;
    flex-direction: column;
    margin-left: 132px;
    row-gap: 15px;
}
.sircle-account {
    width: 94px;
    height: 94px;
    background-color: chocolate;
    border-radius: 50%;
}
.name-account {
    width: 94px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #9d9898;
}

/* main */
main {
    /* height: 90%; */
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #32ffa9;
}
.container {
    position: relative;
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* align-items: flex-end; */
    justify-content: center;
}

/* *anime card */
.anime-card:hover .plot-block {
    transform: translateY(78%);
}
.anime-card,.card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 40px;
    row-gap: 20px;
    padding: 20px;
    background-color: rgba(139, 139, 139, 34%);
}
.anime-1-img,.card-img-top {
    width: 260px;
    height: 320px;
    border-radius: 20px 20px 0 0;
}
.anime-reting-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.reting {
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
}
.reting__body {
    position: relative;
}
.reting__body::before {
    content: "★★★★★";
    display: block;
    color: rgb(255, 255, 255);
}
.reting__active {
    position: absolute;
    width: 100%; /** reiting %*/
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.reting__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: orange;
}
.reting__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.reting__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.anime-img {
    position: relative;
    overflow: hidden;
    width: 260px;
    height: 320px;
}
.plot-block {
    position: absolute;
    background-color: rgba(0, 255, 71, 0.4);
    transform: translateY(180%);
    transition: 300ms;
    width: 260px;
    height: 180px;
}
.plot {
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 95px;
    border-radius: 0 0 20px 20px;
    background-color: #edecec;
}
.name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}
.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}
.genres {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: absolute;
    text-align: center;
    bottom: 10px;
    font-size: 16px;
    line-height: 1;
}
/* * pages */
.pages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}
.pagenation {
    max-width: 232px;
    margin: 0 auto;
    display: flex;
    column-gap: 26px;
    margin-top: 80px;
}
.forward-page,
.back-page {
    width: 60px;
    height: 60px;
    border-radius: 20px 0 0 20px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forward-page {
    border-radius: 0 20px 20px 0;
}
.forward-svg {
    transform: rotate(-180deg);
}
.forward-page:hover,
.back-page:hover {
    background-color: #cccccc;
}
.forward-svg,
.back-svg {
    width: 20px;
    height: 20px;
    fill: black;
}
.this-page {
    font-size: 24px;
    line-height: 1.2;
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer {
    /* position: absolute; */
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #32adff;
    color: #ffffff;
}
footer > h1 {
    text-align: center;
}
.loader {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 200px;
    height: 200px;
    border: 20px solid #fff;
    border-bottom-color: #ff3d00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
